.nav-icons {
    padding-top: 40px;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    background : #f4f6f8;
    margin-right: 10px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
}

#extend-nav {
    margin-top: 380px;
    margin-left: 25px;
    cursor: pointer;
    border: 1px solid purple;
    border-radius: 50%;
    background:purple;
    color:white;
} 

ul {
    padding-left: 30px;
}

li {
    padding-top: 20px;
    list-style: none;
    padding-right: 25px;
    cursor: pointer;
}

li.active {
    color: purple;
}

mat-icon.active {
    color: purple;
}

.icon-name {
    margin-bottom: 50px;
}

mat-icon {
    vertical-align: text-bottom;
}

.inner {
    position: relative;
    display:inline-block;
    top: 180px;
    left: 90%;
}

.dropdown {
    display: grid;
    position: absolute;
    min-width: 185px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    line-height: 0.8cm;
    padding-left: 5px;
}

.dropdown a:hover {
    columns: #fff;
}


