<div class="nav-icons">   
    <ul >
        <li *ngFor = " let item of itemArray" 
            routerLink = "{{item.link}}" 
            routerLinkActive = "active" 
            (click) = "showHeading(item.name)"
            style="font-size: 20px;">
            <mat-icon>{{item.icon}}</mat-icon>
            <span class="icon-name" *ngIf = "isExpanded" style="padding-left: 14px;">{{item.name}}</span>
        </li>  
    </ul>
    
    <span class='material-icons' 
          id="extend-nav" 
          (click) = "toggleSidenav()">
          {{ isExpanded ? 'arrow_back' : 'arrow_forward' }}
    </span>  
</div>


    <div *ngIf = "showDropdown" class="inner">
        <div class="dropdown">
            <a [routerLink] = "'/home/Settings'">User Roles and Permissions</a>
            <a href="#">Teams</a>
            <!-- <a href="#">Configuration</a> -->
        </div>
    </div> 





        