.container {
    width: 78vh;
    height: auto;
    border-radius: 10px;
}

mat-icon{
    cursor: pointer;
    position: absolute;
    left: 580px;
    top: 9px;
}

.topDiv {
    position:relative;
    top: 0px;
    width: 637px;
    height: 45px;
    left: -35.6px;
    color: hsl(240, 100%, 50%);
    align-items: center;
    background-color: rgb(233, 235, 236);
    background-size: cover;
    font-size: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 30px;
}

.content {
    margin-top: 10px;
}

.mb-3 {
    padding-top: 10px;
}

.mb-3, .col-md-6 {
    padding-bottom: 10px;
}

button {
    position: relative;
    left: 510px;
    border-radius: 15%;
    background: hsl(240, 100%, 50%);
}

.slider {
    width: 100%;
    cursor: pointer;
}

#vectorValue {
    color: rgb(32, 32, 32);
}

label {
    color: rgb(32, 32, 32);
}

.form-check-input:checked{
    color: hsl(240, 100%, 50%);
    background-color:hsl(240, 100%, 50%);
    border-color: hsl(240, 100%, 50%);
}

#myValue {
    width: 20px;
    border: none;
    padding: 0px;
}

/* .custom-dialog-container .mat-dialog-container {
    padding-top: 0px !important;
    border-radius: 20px;
    width: fit-content;
} */

