<div class="container">   
    <div class="topDiv">
        {{data.name}}
        <mat-icon (click) = "close()">clear</mat-icon>
    </div>

    <div class="content">
      <!-- Display Field  -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked">Display Field</label>
      </div>

      <div class="col-md-6"> 
        <!-- Display name   -->
        <div class="mb-3">        
          <label  class="form-label">Display Name</label>
          <input type="text" class="form-control" value = {{data.display_name}} >
        </div>

        <!-- Field Type -> Read / Write  -->
        <label  class="form-label">Field Type</label>
        <select class="form-select" aria-label="Default select example">
          <option [selected] = "is_Issue_field" value="2">Read</option>
          <option [selected] = "!is_Issue_field" value="1">Write</option>
        </select>
      </div>

      <!-- Required Field  -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [checked] = "isRequired">
        <label class="form-check-label" for="flexCheckDefault">Required Field</label>
      </div> <br>

      <!-- Dropdown Field  -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [checked] = "this.data.is_field_dropdown">
        <label class="form-check-label" for="flexCheckDefault">Dropdown Field</label>
      </div> <br>

      <!-- User Field  -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">User Field</label>
      </div> <hr>

      <!-- AI/ML Vector  -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [checked] = "data.is_AIML_field" (click) = "AIMLClicked()">
        <label class="form-check-label" for="flexCheckDefault">AI/ML Vector</label>
      </div>

      <!-- Apply Automation  -->
      <div *ngIf = "isAIML" class="form-check"> <br>
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [checked] = "isAutomated" (click) = "applyAutomationClicked()">
        <label class="form-check-label" for="flexCheckDefault">Apply Automation</label>
      </div> 
      
      <!-- Confidence Threshold  -->
      <div *ngIf = "isAutomated">
        <br> <p id="vectorValue">Confidence Threshold : <input type="text" id="myValue" value={{progressBarValue}}>%</p>
        <input type="range" min="0" max="100" value="{{progressBarValue}}" onchange="myValue.value = value" id="myRange" class="slider">
      </div> <hr>

      <!-- <div *ngIf = "isAutomated"> <br>
        <form [formGroup] = "sliderForm">
            <label>Confidence Threshold : {{value}}%</label>
            <input type="range" formControlName="slider" id="myRange" min="0" max="100" [(ngModel)]="value" onchange ="form.value = value"  class="slider">
        </form>
      </div> <hr> -->

      <!-- Analytics Data Point  -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [checked] = "data.is_Analytics_field">
        <label class="form-check-label" for="flexCheckDefault">Analytics Data Point</label>
      </div> <hr>
    </div>

    <button type="button" class="btn btn-primary">Save</button>
</div>

      
