<div>
  
  <div class="topDiv">
    Add New User
    <mat-icon (click) = "close()">clear</mat-icon>
  </div>

  <form class="form-group" [formGroup] = "userForm">

    <div class="row">
        <!-- firstName  -->
        <div class="col-sm-12">
          <label class="form-label"><b>First Name</b></label>
          <input type="text" class="form-control" formControlName = "firstName">
        </div> <br>

        <!-- lastName -->
        <div class="col-sm-12">
          <label class="form-label"><b>Last Name</b></label>
          <input type="text" class="form-control" formControlName = "lastName">
        </div> <br>

        <!-- Email -->
      
        <div class="col-sm-12">
          <label class="form-label"><b>Email</b></label>
          <input type="email" class="form-control" formControlName = "email">
        </div> <br>

        <!-- Address  -->
        <div class="col-sm-12">
          <label class="form-label"><b>Role</b></label>
          <!-- <input type="text" class="form-control" formControlName = "Role"> -->
          <select class="form-select" aria-label="Default select example" formControlName = "role">
            <option value="Admin">Admin</option>
            <option value="User">User</option>
          </select>
        </div>
    </div> <br>

    <button type="submit" 
            class="btn btn-primary"  
            id="submit"  
            (click) = "newUser ? onSubmit() : updateUser()"  
            [disabled] = "userForm.invalid"> 
            {{newUser ? 'Add' : 'Update'}} 
    </button>
    
    <!-- <button type="button" 
            class="btn btn-primary" 
            id="submit" 
            (click) = "onSubmit()"
            [disabled] = "userForm.invalid">
            Add
    </button> -->
  </form>
  <!-- <button type="button" id="cancel" class="btn btn-light" (click) = "closeDialog()" >Cancel</button> &nbsp; -->

</div>
    
