form {
    width:35vw;
}

.row {
    display: block;
}

#submit {
    float: right;
}

.topDiv {
    position:relative;
    top: 0px;
    width: 108.2%;
    height: 45px;
    left: -23px;
    color: hsl(240, 100%, 50%);
    align-items: center;
    background-color: rgb(233, 235, 236);
    background-size: cover;
    font-size: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 30px;
    margin-bottom: 10px;
}

mat-icon{
    cursor: pointer;
    position: absolute;
    left: 565px;
    top: 9px;
}

