<div class="container">
    <div class="col-auto">
        <label style="font-size: 20px;">Filter : </label> &nbsp;
        <!-- <input type="text" [(ngModel)]="searchName"> -->
        <input type="text" id="myInput" [(ngModel)] = "name" >
        <button type="button" (click) = "openDialog()" >Add New Customer</button>
    </div>

    <div class="table">
        <table id="table">
            <thead>
                <tr class="header">
                    <th></th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>State</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor = "let customer of customersArray | searchfilter : name ; let i = index">
                <!-- <tr *ngFor = "let customer of customersArray | filter : searchName; let i = index"> -->
                    <td (click) = "changeProfile(customer, i)">
                        <img *ngIf = "changeProfileBoolean" [src]="profilePicUrl" alt="">
                        <img *ngIf = "customer.gender === 'male' && !changeProfileBoolean" src="../../../assets/Images/man.png" alt="">
                        <img *ngIf = "customer.gender === 'female' && !changeProfileBoolean" src="../../../assets/Images/woman.png" alt="">
                    </td>
                    <td (click) = "openCustomDialog(customer, i)" id = "firstname"> {{ customer.firstName }} </td>
                    <td> {{ customer.lastName }} </td>
                    <td> {{ customer.email }} </td>
                    <td> {{ customer.address }} </td>
                    <td> {{ customer.city }} </td>
                    <td> {{ customer.state }} </td>
                </tr>
            </tbody>
        </table>
        <p *ngIf = "customersArray.length === 0"><b>Sorry, We don't have any customer !</b></p>
    </div>
</div>
