.container {
   width: auto;
   height: auto;
}

.col-auto {
    margin-top: 30px;
}

button {
    position: relative;
    top: 5px;
    left: 855px;
    font-size: 20px;
    background-color: rgb(65, 48, 112);
    color: white;
    height: 40px;
    width: 210px;
}

button:hover { background-color: rgb(65, 48, 112); }

table {
    margin-top: 20px;
    width:100%;
    font-size: 16px;
}

tr { height: 50px; }

tr:hover { background-color:rgb(223, 243, 255); }

img {
    width: 60px;
    height: 60px;
}

#firstname {
    color: rgb(46, 179, 231);
    cursor: pointer;
}

p {
    padding-top: 30px;
    padding-left: 460px;
    font-size: 25px;
}