<div>
    <img src="../../../assets/Images/avatar.jpg" [src] = "url" alt="">
    <input type="file" (change) = "onSelectFile($event)">
</div>

<button type="submit" class="btn btn-success" (click) = "saveChanges()">Save</button>
