<div class="user">
    <div class="topSection">
        <!-- <button  routerLink = '/home/Settings'>Go back</button> -->
        <div class="searchSection">
            <label style="font-size: 20px;">Search : </label> &nbsp;
            <input type="text" id="myInput" [(ngModel)] = "name">
        </div>
        <button id="addNewUserButton" type="button" class="btn btn-primary" (click) = "openUserDialog()" >Add New User</button>
    </div>

    <div class="userTable">
        <table id="table">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th></th>
                </tr>
            </thead>
        
            <tbody>
                <tr id="currentRow" class="tableContent" *ngFor = "let user of userArray | searchfilter : name ; let i = index">
                    <td> {{ user.firstName }} </td>
                    <td> {{ user.lastName }} </td>
                    <td> {{ user.email }} </td>
                    <!-- <td> {{ user.Role }} </td> -->
                    <td>
                        <select class="form-select" aria-label="Default select example">
                            <option [selected] = "user.role == 'Admin'" value="Admin">Admin</option>
                            <option [selected] = "user.role == 'User'" value="User">User</option>
                        </select>
                    </td>
                    <td class="icon">
                        <mat-icon class="editIcon" (click) = "editUser(user, i)">edit</mat-icon>
                        <mat-icon (click) = "deleteUser(i)">remove_circle_outline</mat-icon>
                    </td>
                </tr>
            </tbody>
        </table>
        <p *ngIf = "userArray.length === 0"><b>Sorry, We don't have any user !</b></p>
    </div>
    

    <!-- <div class="table">
        <table id="table">
            <thead>
                <tr class="header">
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Role</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor = "let user of userArray; let i = index">
                    <td> {{ user.firstName }} </td>
                    <td> {{ user.lastName }} </td>
                    <td> {{ user.Email }} </td>
                    <td> {{ user.Role }} </td>
                </tr>
            </tbody>
        </table>
        <p *ngIf = "userArray.length === 0"><b>Sorry, We don't have any user !</b></p>
    </div> -->
</div>
    
