.user {
    width: auto;
    height: auto;
}

.topSection {
    height: 7vh;
    float: right;
    display: flex;
}

#addNewUserButton {
    position: relative;
    right: 20px;
    top: 6px;
    height: 40px;
    border-radius: 5px;
} 

.searchSection {
    position: relative;
    right: 40px;
    top: 15px;
}

.userTable {
    height: 100vh;
    display: block;
    overflow-y: auto;
    width: 100%;
    padding-bottom: 50px;
}

table {
    margin: 0px;
    width: 100%;
    position: relative;
    table-layout: fixed;
}

tr:hover {
     background-color:rgb(223, 243, 255); 
}

tr th, tr td {
    padding-left: 20px;
}

tr {
    height: 60px;
    border-bottom: 1px solid #cdd0d3;
}

thead {
    position:sticky;
    top: 0px;
    width: 100%;
    z-index: 2;
    background-color:#f4f6f8;
}

thead tr {
    width: 100%;
}

p {
    padding-top: 30px;
    padding-left: 460px;
    font-size: 25px;
}

.custom-dialog-container .mat-dialog-container {
    padding-top: 0px !important;
    border-radius: 20px;
}

.icon {
    text-align: end;
    padding-right: 50px;
}

.editIcon {
    position: relative;
    right: 15px;
}

mat-icon { cursor: pointer; }

