.table>:not(:first-child) {
    border-top: 1px solid lightgray;
}

table {
    margin: 0px;
    width: 100%;
    position: relative;
    table-layout: fixed;
}

tr:hover { background-color:rgb(223, 243, 255); }

.mapping {
    height: 100vh;
    display: block;
    overflow-y: auto;
    width: 100%;
    padding-bottom: 50px;
}

tr th, tr td {
    padding-left: 20px;
}

tr {
    height: 40px;
    border-bottom: 1px solid #cdd0d3;
}

thead {
    position:sticky;
    top: 0px;
    width: 100%;
    z-index: 2;
    background-color:#f4f6f8;
}

thead tr {
    width: 100%;
}

.cdk-drag-preview {
    background-color: white;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    box-sizing: border-box;
    text-align:left;
    padding-top: 12px;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.tableContent :last-child {
    border:none;
}

.dataTable.cdk-drop-list-dragging .tableContent:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.dataTable:active {
              box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.dataTable {
    width: 100%;
    margin-top: 85px;
    z-index: 1;
    overflow-y: scroll;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.dragHandle {
    text-align: end;
    padding-right: 40px;
}

.custom-dialog-container .mat-dialog-container {
    padding-top: 0px !important;
    border-radius: 20px;
    width: fit-content;
}

