<!-- table  -->
<div class="mapping" cdkScrollable>
    <table id="table">
        <thead>
            <tr>
                <th>Source Field</th>
                <th>Display Name</th>
                <th>Issue Field</th>
                <th>AI/ML Vector</th>
                <th>Analytics Data Point</th>
                <th></th>
            </tr>
        </thead>
    
        <tbody cdkDropList (cdkDropListDropped) = "drop($event)">
            <tr id="currentRow" (click) = "popWindow(item)" class="tableContent" *ngFor = "let item of dataArray;" cdkDrag>
                <td> {{ item.name }} </td>
                <td> {{ item.display_name }} </td>                   
                <td>
                    <span> {{ readWriteMethod(item.is_Issue_field_readonly, item.is_Issue_field, item.is_user_field) }} </span>
                </td>                  
                <td>
                    <span *ngIf = "item.is_AIML_field"> {{ vectorMethod(item.is_automated, item.ml_prediction_threshold) }} </span>
                </td>                  
                <td> {{ (item.is_Analytics_field ? "Active" : "")}} </td>
                <td class="dragHandle" cdkDragHandle><span class='material-icons'>drag_indicator</span></td>
            </tr>
        </tbody>
    </table>
</div>

