h1 {
    padding-top: 80px;
    text-align: center;
}


.button {
    color: black;
    padding: 15px;
    cursor: pointer;
    border: 1px solid #fff;
}

.inner {
    position: relative;
    display: inline-block;
    top: 30px;
    left: 50%;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: antiquewhite;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color:bisque;
    columns: #fff;
}

.inner:hover .dropdown {
    display: block;
}

.inner:hover .button{
    background-color: transparent;
}

