<h1><b>Welcome to Borderall Component !</b></h1>
<div class="outer">
    <div class="inner">
        <button class="button">Menu</button>
        <div class="dropdown">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Portfolio</a>
            <a href="#">Contact</a>
        </div>
    </div> 
</div>
