.container {
    position: relative;
    height: 100vh;
    max-width: 100%;
    background-image: url("/assets/Images/login_background.svg"),
    url("/assets/Images/login_background2.svg");
    background-size: cover;
} 

/* Unless we make position relative.... top, bottom, left, right will won't work  */
.row {
    color:rgb(179, 245, 245);
    background: -webkit-linear-gradient(pink, purple);
    -webkit-background-clip: text;
    background-clip:var(text);
    -webkit-text-fill-color: transparent;
    font-size: 55px;
    height: 150px;
    width: 300px;
    position: relative;
    right: -5%;
    top: 7%;
    padding-top: 12px;
    background-repeat: no-repeat;
    margin: auto;
}

.col-md-6 {
    position: relative;
    right: -39%;
    top: 1%;
    color: white;
    width: 50vh;
}

a {
    position: relative;
    color: white;
    text-decoration: none;
}

img {
    position: relative;
    left: -21%;
    padding: 6px;
    block-size: 30px;
}

i {
    position: relative;
    left: 92%;
    top: -0.8cm;
    margin-top: -4px;
    color: lightslategray;
}

.d-grid {
    margin-top: 8%;
}

h1 {
    font-size: 30px;
}

h2 {
    position: relative;
    top: -6px;
}

span {
    color: white;
}

#flexSwitchCheckDefault {
    cursor: pointer;
}

button:disabled {
    color:white;
    background-color:lightgrey;
    border: none;
}


@media (min-width: 500px) and (max-width: 1500px)  {

    #fPWD {
        position: relative;
        margin-left: 10px;
    }

    .form-control {
        position: relative;
        width: 40vh;
    }

    .d-grid {
        position: relative;
        width: 40vh;
    }

    i {
        left: 75%;
    }
}
