<div class="container">

    <!-- div row is for maestro logo  -->
    <div class="row"><b>DT-123</b></div> 

    <div class="col-md-6">
        <p style="font-size: 20px;">Hello,</p>
        <h1><b>Log in to your account</b></h1>

        <form class="form-group" [formGroup] = "loginForm" (ngSubmit) = "onSubmit()" autocomplete="on">
              
                  <!-- Email  -->
                <div class="mb-3">        
                    <label for="exampleInputEmail1" class="form-label"> Email</label>
                    <input type="text" class="form-control" aria-label="First name" formControlName = "username">
                    <span *ngIf = "loginForm.get('username').invalid && loginForm.get('username').touched" class="help-block"> Please enter a valid email !</span>
                </div>

                <!-- Password -->
                <div class="mb-3">
                    <div class="icon">
                        <label for="exampleInputPassword1" class="form-label"> Password</label>
                        <input [type]="passwordType" class="form-control" id="exampleInputPassword1" formControlName = "password">
                        <span *ngIf = "!loginForm.get('password').valid && loginForm.get('password').touched" class="help-block"></span>

                        <!-- Eye-icon  -->
                        <i [class]="showPassword ? 'fa fa-eye' : 'fas fa-eye-slash' " (click) = "togglePassword()"></i>
                    </div>

                    <!-- Remember me and Forget Password -->
                    <div class="form-check form-switch" style="margin-top: -5%;">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" formControlName = "rememberMe">
                        <label class="form-check-label" for="flexSwitchCheckDefault"> Remember me</label>
                        <a id="fPWD" href="#" style="right: -40%;">Forget Password?</a>
                    </div>
              </div>

              <div class="d-grid">
                <!-- Login Button  -->
                <button type="submit" class="btn btn-primary" id="loginButton" [disabled] = "loginForm.invalid"><b>Log in</b></button>
                
                <p style="text-align: center; margin-top: 2%;">or</p>

                <!-- Login with Microsoft  -->
                <a class="rounded-3" href="https://account.microsoft.com/account/" target="_blank" style="border: 1px solid white; border-radius: 10px; text-align: center;">
                   <img src="/assets/Images/microsoft_logo.svg"><b>Log in with Microsoft</b>
                </a>
            </div>
        </form>
    </div>
</div>
