.text {
    background-color: rgb(229, 209, 182);
    padding: 5px 10px;
}

.virtualScrollViewport {
    height: 50vh;
    width: 65vw;
}

.outer {
    background-color: rgb(198, 240, 226);
    width: auto;
}

table {
    margin-left: 40px;
}

tr {
    height: 50px;
}

img {
    width: 100px;
    height: 100px;
}
