<p>two works!</p>
<div class="content"> 
    <div class="text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda nemo id excepturi sunt, laborum sit maiores quaerat debitis praesentium perferendis quae suscipit sint dolor recusandae, vitae voluptate eligendi? Dicta nesciunt labore obcaecati quam possimus dolore, blanditiis excepturi expedita vitae sequi quod id. Voluptatum, assumenda voluptas magnam natus laudantium minima itaque.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium laboriosam nostrum earum dignissimos laudantium, eos voluptatibus quos magni veritatis impedit, necessitatibus tempora modi obcaecati iste dolorem deserunt consequuntur saepe ab? Quis optio quo accusamus ipsa mollitia nesciunt sapiente ad harum ducimus, alias error perspiciatis, sunt soluta unde. Doloribus quaerat dolore, iusto accusamus soluta reiciendis maiores odit, molestiae nesciunt minima nostrum eos architecto assumenda debitis impedit enim distinctio facere perspiciatis recusandae magni, expedita voluptatibus. Praesentium minus recusandae deleniti consequatur ipsa odio doloremque iusto quisquam! Magni minima facilis perferendis totam alias non sed molestiae natus nam, tempore commodi ipsam, amet quis deleniti.
        <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quibusdam consectetur, blanditiis accusamus, iusto odio saepe doloribus beatae commodi obcaecati aliquam provident. Totam qui necessitatibus atque possimus voluptate adipisci dolores veniam magni quisquam. Praesentium, repellat! Laborum molestias doloribus quos ipsum eveniet consequatur quidem, sit autem sunt, tempora amet ipsam dolores voluptatum corporis quaerat aliquam similique veniam sapiente cupiditate corrupti. Hic vel animi inventore id dolores incidunt ducimus! Esse possimus neque reprehenderit praesentium, ut nemo quibusdam voluptas soluta facere natus adipisci libero id iusto quos nam eius hic optio necessitatibus eaque laudantium animi fuga. Magni saepe et cum quos qui laborum beatae iste modi, odio harum nisi labore atque. Cupiditate deleniti dignissimos voluptatum placeat voluptate? Repudiandae eaque, in cupiditate est quae fugit repellat impedit placeat consequatur, asperiores magni facilis nihil saepe ut? Laboriosam dolorum ullam animi error, ratione pariatur deleniti impedit sunt delectus fugiat dolor alias qui voluptate ad accusamus illo laudantium facilis eos nemo odio. Sequi aspernatur dicta fuga. Unde, temporibus nulla obcaecati similique ex quibusdam recusandae. Neque, odit, natus vitae rerum doloremque assumenda exercitationem asperiores sint sunt consectetur repellendus eligendi error, veritatis mollitia maxime! Expedita porro impedit suscipit atque officia voluptatem, eum, obcaecati incidunt mollitia vel, accusamus dolores quod! -->
        
    </div>
    <hr>
    <!-- <img src="../../../assets/Images/avatar.jpg" [src] = "url" alt="">
    <input type="file" (change) = "onSelectFile($event)"> -->
    <!-- <div class="loadItems"
         infiniteScroll
         itemSize = "100"
         [infiniteScrollContainer] = "'#loadItems'"
         [infiniteScrollDistance] = "6"
         [infiniteScrollThrottle] = "50"
         (scrolled) = "loadNext()">         
        <app-item></app-item>
    </div> -->
</div>

<div class="virtualScroll">
    <cdk-virtual-scroll-viewport itemSize = "50" class="virtualScrollViewport">
        <div class="outer">
            <table>
                <tbody>
                    <tr *cdkVirtualFor = "let number of ds">
                        <td> {{ number || 'Loading...'}} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    
    </cdk-virtual-scroll-viewport>
    
</div>

