<div class="container">
    <div class="title">
      <div class="profile">
        <mat-icon style="font-size: 35px;" (click) = "uploadProfileImage()">person</mat-icon>
        <img src="" alt="">
      </div>
        <span class="titleName"> {{ getTitle() }} </span>
    </div>
    
    <div class="form">
        <form class="form-group" [formGroup] = "customerForm">

            <div class="row">
                <!-- firstName  -->
                <label class="form-label"><b>First Name</b></label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" formControlName = "firstName">
                </div>

                <!-- lastName  -->
                <label class="form-label"><b>Last Name</b></label>
                <div class="col-sm-12">
                  <input  type="text"  class="form-control" formControlName = "lastName">
                </div>

                <!-- Gender  -->
                <label class="form-label"><b>Gender</b></label>
                <div class=".col-sm-12" >
                    <!-- Male -->
                    <input class="form-check-input"  id="flexRadioDefault1" type="radio" value="male"  formControlName = "gender">
                    <label class="form-check-label" for="flexRadioDefault1">Male</label>
                    <br>
                    <!-- Female  -->
                    <input class="form-check-input"  id="flexRadioDefault2" type="radio" value="female" formControlName = "gender">
                    <label class="form-check-label" for="flexRadioDefault2">Female</label>
                </div>

                <!-- Email -->
                <label class="form-label"><b>Email</b></label>
                <div class="col-sm-12">
                    <input type="email" class="form-control" formControlName = "email">
                </div>

                <!-- Address  -->
                <label class="form-label"><b>Address</b></label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" formControlName = "address">
                </div>

                <!-- City  -->
                <label class="form-label"><b>City</b></label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" formControlName = "city">
                </div>

                <!-- State  -->
                <label class="form-label"><b>State</b></label>
                <div class="col-sm-12">
                  <input  type="text" class="form-control" formControlName = "state">
                </div>
                
                <!-- <div>
                  <input type="file" class="form-control" formControlName = "profilePic" (change) = "onSelectFile($event)">
                </div> -->
            </div>

            <button type="submit" 
                    class="btn btn-success"  
                    id="submit"  
                    (click) = "newCustomer ? onSubmit() : updateCustomer()"  
                    [disabled] = "customerForm.invalid"> 
                    {{newCustomer ? 'Submit' : 'Update'}} 
            </button>
            
            <button *ngIf = "!newCustomer" class="btn btn-danger" id="delete" (click) = "deleteCustomer()"> Delete</button>
        </form>
    </div>

    <button type="button" id="cancel" class="btn btn-light" (click) = "closeDialog()" >Cancel</button> &nbsp;
</div>
