.container {
    height: auto;
    width: 70vh;
}

.titleName {
    font-size: 30px;
    position: relative;
    top: 10px;
    left: 15px;

}

.title {
    display: flex;
    position: relative;
    right: 5px;
    bottom: 7px;
}

label {
    padding-top: 15px;
    font-size: 15px;
}

.form-check-label {
    position: relative;
    left: 8px;
    bottom: 14px;
}

#cancel {
    position: relative;
    left: 350px;
    bottom: 18px;
    border: 1px solid lightslategrey;
}

#submit {
    position: relative;
    top: 20px;
    left: 430px;
}

#delete {
    position: relative;
    top: 20px;
    left: -78px;
}

/* img {
    width: 50px;
    height: 50px;
} */