.top-banner {
    height: 50px; 
    width:100%;
    background-image: url("/assets/Images/top-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 23px;
    padding-top: 7px;
    padding-left: 30px;
    position:relative;
    top: 0px;
}

#logout {
    margin-left: 100px;
    padding-top: 5px;
    position: absolute;
    right: 40px;
    top: 4.5px;
    cursor: pointer;
}