<div class="outerDiv">
    <div [ngClass] = " isToggled ? 'innerDiv-Expanded' : 'innerDiv' ">
        <app-navbar (onIconClick) = "getName($event)"
                    (toggleEvent) = "getToggleValue($event)">
        </app-navbar>
    </div>
    <div class="content">
        <app-toolbar [heading] = "toolbarName"></app-toolbar>
        <div class="routerClass">
            <router-outlet></router-outlet>
        </div>   
    </div>
</div>


