.outerDiv {
    display: flex;
    flex-grow: 1;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.innerDiv {
    width: 75px;
    height: 100vh;
    margin-right: 8px;
}

.content {
    width: 100%;
    position: relative;
}

.routerClass {
    width: 100%;
    height: 100%;
    position: relative;
}

.innerDiv-Expanded {
    width: 200px;
    height: 100vh;
    margin-right: 56px;
}
