h1 {
    height: 8vh;
    background-color: thistle;
    padding-top: 15px;
    text-align: center;
    margin: 0%;
}

button {
    position: relative;
    left: 90.4%;
    bottom: 45px;
}

.child {
    display: flex;
    position: relative;
    top: -25px;
}

.left, .mid, .right {
    margin : 5px 5px;
    padding: 5px 10px;
}

.left, .right {
    background-color: rgb(206, 177, 177);
}

