<div class="parent">
    <div class="header">
        <h1><b>Welcome to Bulletlist Component !</b></h1>
        <button (click) = "openUserComponent()">Go to User Panel-></button>
    </div>
    <div class="child">
        <div class="left">
            <app-one></app-one>
        </div>
        <div class="mid">
            <app-two></app-two>
        </div>
        <div class="right">
            <app-three></app-three>
        </div>
    </div>
</div>
