
<div class="virtualScrolling" >  
    <table>
        <thead>
            <tr>
                <th id="avatar">Avatar</th>
                <th>ID</th>
                <th>Name</th>
                <th>Date</th>
                <th>Action</th>
                <!-- <th>Boolean</th> -->
            </tr>
        </thead>

        <cdk-virtual-scroll-viewport #viewPort itemSize = "50" (scrolledIndexChange) = "scrolledIndexChangeMethod($event)">
        <!-- <div class="search-result" 
                  infiniteScroll 
                  [infiniteScrollDistance] = "2" 
                  [infiniteScrollThrottle] = "50" 
                  (scrolled) = "onScroll()" > -->

            <tbody>
                <tr *ngFor = "let record of records; let i = index;" >
                    <td> <img src="https://image.freepik.com/free-vector/person-avatar-design_24877-38137.jpg"> </td>
                    <td> {{ record.id }} </td>
                    <td>
                        <span *ngIf = "!isEditable">{{ record.name }}</span>
                        <input *ngIf = "isEditable" type="text" [(ngModel)] = "record.name" (focusOut) = "focusOutMethod(i)" (focus) = "focusMethod()" #changename>
                    </td>
                    <td> {{ record.createdAt | date : "MM/dd/YYYY HH:mm:ss aaa"}} </td>
                    <td>
                        <span class='material-icons' (click) = "editRecord(record.name,i)">edit</span>
                        <span id="delete" class='material-icons' (click) = "deleteRecord(i)" >delete_forever</span>
                    </td>
                </tr>

                <!-- spinner -->
                <div class="spinner" *ngIf = "loading">
                    <mat-progress-spinner [mode] ="'indeterminate'" [diameter] = "50"></mat-progress-spinner>
                </div>
            </tbody>
        <!-- </div> -->
        </cdk-virtual-scroll-viewport>
    </table>
</div>

