.virtualScrolling {
    height: 700px;
    width:auto;
    /* overflow-y: auto; */
}

cdk-virtual-scroll-viewport {
    height: 700px;
    width: 95vw;
}

table {
    width: 100%;
    font-size: 16px;
    table-layout: fixed;
}

td {
    width: 300px;
    display:flexbox;
}

tr th, tr td {
    padding-left: 20px;
}

#avatar {
    padding-left: 35px;
}

img {
    width: 80px;
    height: 80px;
}

tr { border-bottom: 1px solid #cdd0d3; }

/* tr:hover { background-color:rgb(242, 247, 250); } */

thead {
    height: 30px;
    background-color: rgb(240, 243, 247);
    position: sticky;
    top: 0px;
}

.action {
    position: relative;
    display:inline;
}

.material-icons {
    border: 1px solid black;
    width: 45px;
    height: 37px;
    font-size: 35px;
}

.material-icons:hover { cursor: pointer; }

#delete {
    background-color:rgb(233, 106, 89);
    color: white;
}

.spinner{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-left: 700px;
}
